// Variables + Mixins + Functions
@import "helpers/variables";

// Always include variable 1st !
@import "helpers/mixins";

// Animation
@import "helpers/animation";

// Base
@import "base/typography";

// Vendors
// Import jQuery lib, Bootstrap ... etc

// Themes
// If we have themes, import specific styles here

// Layout
@import "layout/common";
@import "layout/header";
@import "layout/sidebar";
@import "layout/footer";

// Components
@import "components/forms";
@import "components/popup";
@import "components/pagination";
@import "components/breadcrumb";

// Pages
@import "page/homepage";
@import "page/product";
@import "page/productdetail";
@import "page/cart";
